@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #f2f2f3;
}

header {
    display: flex;
    gap: 10px;
    align-items: center;
}
header img {
    width: 50px;
    height: 50px;   
}

.btn-div {
    display: flex;
    margin: 8px 0;
    flex-direction: row-reverse;
}

.btn-div button {
    background-color: #00775d; /* Green color */
    border: 2px solid #00775d; /* Green border */
    color: #fff; /* White text color */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Cursor style */
    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* Transition effect */
}

.btn-div button:hover {
    background-color: #006655; /* Darker green on hover */
    border-color: #006655; /* Darker green border on hover */
}


.btn-div > button,aside > button,  .modal input[type="submit"] {
    padding: 0 8px;
}
form button {
    width:60px;
    margin-left: 8px;
}
tr {
    border-radius: 8px;
}
table th {
    background-color: #009979;
    color: white;
    font-weight:500;
    padding: 10px;
}
td {
    padding: 10px;
    background-color: #fefeff;
}
/* Edit button */
.btn-edit {
    background-color: #007bff;
    border: 2px solid #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.btn-edit:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Delete button */
.btn-delete {
    background-color: #D10000;
    border: 2px solid #9B111E;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.btn-delete:hover {
    background-color: #9B111E;
    border-color: #9B111E;
}

.modal{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px; Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    /* display: flex; */
    align-items: center;
    justify-content: center;

}
.modal-content{
    border-radius: 8px;
    padding: 8px;
    background-color: #fff;
    width: 300px;
    height: 400px;
    
}
.modal span {
    display: flex;
    justify-content: center;
}
.modal-content aside {
    display: flex;
    flex-flow: row-reverse;
}
.modal form {
    padding: 8px;
}
.modal input{
    margin-bottom: 8px;
}

input[name="id"] {
    border: 1px solid red; 
}

